body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: url(wallpaper-login.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #FFFFFF;
    opacity: 0.73;
    height: 50px;
    text-align: center;
    justify-content: center;
}

.logo-img{
    width: 150px;
}

/* Body */
.login-box {
    width: 300px;
    height: 200px;
    background: white;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.textbox {
    border: none;
    border-bottom: 1px solid #47525e;
    background: transparent;
    outline: none;
    height: 20px;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.submit-btn {
    border: none;
    outline: none;
    height: 40px;
    background: #47525e;
    color: white;
    font-size: 16px;
    border-radius: 20px;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #e5e9f2;
    color: dimgrey;
}

/* Footer */
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 800px;
    align-items: center;
    padding: 20px;
    background-color: #3c4858;
    color: #f6f6f6;
}

.left-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-footer-container div{
    margin: 0 10px;
}

.right-footer-container div{
    margin: 0 10px;
    margin-bottom: 20px;
}

.right-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img{
    width: 150px;
    margin-bottom:80px;
}

.footer-link-left{
    text-decoration: none;
    color: #f6f6f6;
}

.footer-link-right img{
    width: 30px;
}