
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* navbar */
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    text-decoration: none;
    color: rgb(80, 80, 80);
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 5px;
    border-bottom: 0.5px solid gray;
}

.navbar-left-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 16.5px; */
}

.navbar-right-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 16.5px; */
}

.logo-img{
    width: 150px;
}

.navbar-text a{
    text-decoration: none;
    color: rgb(80, 80, 80);
}

.navbar-text a:visited{
    color: rgb(80, 80, 80);
    background-color: rgb(165, 165, 165);
}

.navbar-text:hover{
    border-bottom: 2px solid rgb(165, 165, 165);
}

.navbar-text{
    padding: 0 10px;
}

.search-img{
    width: 12px;
}

/* .search{
    padding: 0 10px;
} */

.search input{
    border: none;
    font-size: 15px;
    padding: 2px;
}


/* body */

#body-join{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* filter */
#filter{
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
}

#filter-click{
    text-decoration: none;
    color: gray;
    padding: 5px 50px;
    border: 0.5px solid gray;
    margin: 20px 40px;
    border-radius: 2px;
}

#ok-filter{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray;
    padding: 15px 50px;
    border-style: solid;
    border-color: gray;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

#overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.price{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
    background-color: black;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* list */

.list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 200px;
}

.class-img{
    width: 250px;
    height: auto;
    margin: 0 10px;
    cursor: pointer;
}

.img-link{
    border: 0;
}

.left-container{
    /* margin-right: 75px; */
    color: gray;
    text-decoration: none;
    /* padding-right: 75px; */
}

.left-container a{
    text-decoration: none;
    /* padding-right: 75px; */
}

h2{
    color: rgb(58, 56, 56);
}

.right-container{
    margin-left: 280px;
}

.join-page{
    color: black;
    margin: 30px 0;
    text-decoration: none;
}

.join-page a:hover{
    text-decoration: none;
    color: black;
}

.join-page:visited{
    text-decoration: none;
    color: gray;
}

/* detail */

.detail-join-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.slide-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 30px;
}

.slide-container img {
    width: 100%;
    height: auto;
}


.slide-container .slide-button:hover {
    background-color: black;
}

.slide-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

.slide-button:hover{
    color:#fff;
    background-color:#000;
}

.slide-left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
}
.slide-right{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
}

.detail-desc-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    /* color: gray; */
}

.join-detail-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
}

.wishlist-btn{
    width: 45px;
    padding: 0 50px;
    filter: grayscale(100%);
}

.wishlist-btn:hover{
    filter: none;
}

.wishlist-btn:active{
    filter: none;
}

.wishlist-btn:link{
    filter: grayscale(100%);
}

.join-button-container{
    padding: 0 50px;
}

.join-button-container a{
    color: black;
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
}

.join-button-container a:hover{
    background-color: gray;
    color: white;
}

.join-click:visited{
    color: black;
}

/* footer */
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3c4858;
    color: #f6f6f6;
}

.left-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-footer-container div{
    margin: 0 10px;
}

.right-footer-container div{
    margin: 0 10px;
    margin-bottom: 80px;
}

.right-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img{
    margin-bottom:80px;
}

.footer-link-left{
    text-decoration: none;
    color: #f6f6f6;
}

.footer-link-right img{
    width: 30px;
}


/* .social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sm{
    width: 30px;
    height: auto;
    margin: 0 5px;
} */


