body{
    margin: 0;
    padding: 0;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    text-decoration: none;
    color: rgb(80, 80, 80);
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 5px;
    border-bottom: 0.5px solid gray;
}

.navbar-left-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 16.5px; */
}

.navbar-right-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 16.5px; */
}

.logo-img{
    width: 150px;
}

.navbar-text a{
    text-decoration: none;
}

.navbar-text a:visited{
    color: rgb(80, 80, 80);
    background-color: rgb(165, 165, 165);
}

.navbar-text:hover{
    border-bottom: 2px solid rgb(165, 165, 165);
}

.navbar-text{
    padding: 0 10px;
}

.search-img{
    width: 12px;
}

/* .search{
    padding: 0 10px;
} */

.search input{
    border: none;
    font-size: 15px;
    padding: 2px;
}

/* Body */

/* #header-container{
    width: 1440px;
    height: 60px;
} */

#body-profiledes-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#profiledes-photos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

#profiledes-des{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.welcome{
    font-size: 34px;
    margin: 10px;
}

.text-photo{
    font-size: 18px;
    margin-top: 5px;
}

.text-des{
    font-size: 18px;
    margin: 5px;
}   


#circle-photos{
    height: 105px;
    width: 105px;
}

#body-classes-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;

}

#left-class-container{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#right-class-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.img-class-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-class-flex:active{
    zoom: 90%;
}

.img-class{
    width: 55px;
    height: 55px;
    align-items: center;
}

.hyperlink-text{
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
    margin: 30px;
    /* margin: 30px 5px; */
}

.text-class{
    font-size: 30px;
    /* font-weight: 300; */
    line-height: 44px;
    width: 269px;
    text-align: left;
    margin: 30px;
}


#body-inbox-class{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

#body-inbox-class:active{
    zoom: 90%;
}

.hyperlink-inbox{
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-right: 200px;
    /* margin: 30px 5px; */
}

.text-inbox{
    font-size: 30px;
    /* font-weight: 300; */
    line-height: 44px;
    width: 269px;
    text-align: left;
    margin-left: 30px; 
    text-decoration: none;
}


.img-inbox{
    width: 55px;
    height: 55px;
    margin-left: 150px; 
    align-items: center;
}

/* footer */
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3c4858;
    color: #f6f6f6;
    position: relative;
    bottom: 0cm;

    flex-shrink: 0;
    flex-grow: 1;

}

.left-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-footer-container div{
    margin: 0 10px;
}

.right-footer-container div{
    margin: 0 10px;
    margin-bottom: 80px;
}

.right-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img{
    margin-bottom:80px;
}

.footer-link-left{
    text-decoration: none;
    color: #f6f6f6;
}

.footer-link-right img{
    width: 30px;
}
