
.navbar{
    &-text{
        & > a{
            text-decoration: none;
        }
    }

    &-container{
        height: 3.5rem;
    }
}


.text-class:hover{
    
    color: black;
}

a{
    &:visited,&:link{
        text-decoration: none;
        color: inherit;
    }
}

.button1{
    color: white !important;
}