
.navbar{
    &-text{
        & > a{
            text-decoration: none;
        }
    }

    &-container{
        height: 3.5rem;
    }
}


.text-class:hover{
    
    color: black;
}

a{
    &:visited,&:link{
        text-decoration: none;
        color: inherit;
    }
}

.button1{
    color: white !important;
}

.slide-container{

    & > img{
        max-width: initial;
    }
}

.my-input,.my-input:focus{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}